     body {
        background-color: #d8fafa;
     }
     h1 {
         color: #405555;
     }
     h3 {
         color: #405555;
     }
     h4{
         color: #405555;
     }
     hr { border-style: none;
      border-top-style: dotted;
      width: 90%;
      border-color: grey;
      border-width: 5px; }
    #student {
        font-size: 18px;
    }
    .profile {border-radius: 90%;
        height: 95px;
        width: 95px;
    }